<td>
  <!-- Sub copy -->
  <table class="body-sub email-footer" role="presentation">
    <tr>
      <td align="center">
        <p class="f-fallback sub align-center">
          Econaw
        </p>
      </td>
    </tr>
  </table>
</td>
